/* font-family: 'Crimson Pro', serif;
font-family: 'Lora', serif; */

@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@400;700&family=Montserrat:wght@300;500;600;700&display=swap');

:root {
  --primary-color: #ffffff;
  --primary-bg-color: #181719;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
}

li {
  list-style: none;
}

img {
  height: auto;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1274px;
  padding: 0 1em;
}

/* Header */
.header {
  display: flex;
  margin: 2rem 0 3.8rem 0;
}
.header--title {
  border: 1px solid #ffffff;
  font-weight: 200;
  padding: 0.5em;
  text-transform: uppercase;
}
.header--nav {
  display: none;
}

/* ======= */
.what-we-do {
  margin-bottom: 2.5rem;
}
.what-we-do--header {
  font-family: 'Lora', serif;
  font-size: 2.5714285714285716em;
  font-weight: normal;
  margin-bottom: 2.5rem;
}
.what-we-do--content {
  font-weight: 300;
  margin-bottom: 2.5rem;
  width: 70%;
}
.what-we-do--read-more {
  align-items: center;
  display: flex;
  font-weight: 600;
  line-height: 0;
}
.what-we-do--read-more span {
  margin-left: 15px;
}

.designed-by {
  position: relative;
}

/* Footer */
.footer {
  display: flex;
  font-weight: 600;
  justify-content: center;
}

.footer-content {
  border-top: 1px solid #a9a9a9;
  padding: 0.5em 0 2em 0;
  text-align: center;
  width: 80%;
}
